.node {
  width: 1.65em;
  height: 1.65em;
  outline: 1px solid #A0B9BF;
  display: inline-block;

}

.node-finish {
  background-color: red;
}

.node-start {
  background-color: green;
}

.node-visited {
  animation-name: visitedAnimation;
  animation-duration: 1.5s;
  animation-timing-function: ease-out;
  animation-delay: 0;
  animation-direction: alternate;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-play-state: running;
}

@keyframes visitedAnimation {
  0% {
    transform: scale(0.3);
    background-color: #faf0e6;
    border-radius: 100%;
  }

  50% {
    background-color: #fff0db;
  }

  75% {
    transform: scale(1.2);
    background-color: #eed9c4;
  }

  100% {
    transform: scale(1);
    background-color: #e4d5b7;
  }
}

.node-wall {
  background-color: rgb(12, 53, 71);
}

.node-shortest-path {
  animation-name: shortestPath;
  animation-duration: 1.5s;
  animation-timing-function: ease-out;
  animation-delay: 0;
  animation-direction: alternate;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-play-state: running;
}

@keyframes shortestPath {
  0% {
    transform: scale(0.6);
    background-color: #f9d4b4
    ;
  }

  50% {
    transform: scale(1.2);
    background-color: #9c7d5c;
  }

  100% {
    transform: scale(1);
    background-color: #dbbc8c;
  }
}
