
.grid {
  /* margin: 3px 0 0; */
}

.inlineInput {
  display: flex;
  justify-content: center;
  margin: 1em;
}

.labelStartY {
  margin-right: 0.3em;
}
.labelStartX {
  margin-right: 0.3em;
}

.inputField{
  border-radius: 0.5em;
}

.buttons{
  display: flex;
  justify-content: space-between;
  padding-bottom: 1em;
}

.viz{
  color: white;
  border-color: white;
  background-color: black;
  border-radius: 0.5em;
}

.reload {
  border-color: white;
  color: white;
  background-color: black;
  border-radius: 0.5em;
}

.Nav {
  border-bottom: 2px solid black;
  background-color: black;
}

