
.grid {
  margin: 12px 0 0;
}

.inlineInput {
  display: flex;
  justify-content: center;
  margin: 1em;
}

.labelStartY {
  margin-right: 0.3em;
}
.labelStartX {
  margin-right: 0.3em;
}

.inputField{
  border-radius: 0.5em;
}

.buttons{
  display: flex;
  justify-content: space-between;
}

.viz{
  margin-left: 47em;
  background-color: white;
  border-radius: 0.5em;
}

.reload {
  margin-right: 30em;
  color: red;
  background-color: white;
  border-radius: 0.5em;
}


